<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link id="stylesheet" rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/main.css">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script>
            $.get('../public/articles/article_art-music.html', function(Data) {
                document.getElementById('article').innerHTML = Data;
            })
        </script>
    </head>
    <body class="body-1">
        <div class="main">
            <div class="header">
                <div class="title vertical-center">
                    <h1>20th century Modernism</h1>
                </div>
            </div>

            <div class="link-div">
                <a href="views/art-music.html"><div class="overlay"></div> Art and music</a>
                <a href="views/tech-sci.html"><div class="overlay"></div> Technology</a>
                <a href="views/economy.html"><div class="overlay"></div> Economy </a>
                <a href="views/women.html"><div class="overlay"></div> The Women</a>
                <a href="views/culture.html"><div class="overlay"></div> Culture</a>
                <a href="views/history.html"><div class="overlay"></div> History</a>
            </div>

            <div class="super-content">
                <div class="article-content">
                    <p id="article">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt odio arcu, id placerat ligula sodales tincidunt. Vivamus sit amet magna ultricies, imperdiet turpis tincidunt, mattis eros. Fusce nec sagittis neque, vel finibus tortor. Cras finibus at lacus maximus dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum sed porttitor nulla. Nam porta nisl vel massa blandit fringilla. Sed et blandit urna, nec efficitur felis. Proin fermentum sapien massa, a suscipit eros dapibus at.<br>
                        <br>
                        Curabitur porttitor libero nulla, id varius turpis imperdiet a. Nam sit amet ultrices quam, eu finibus est. Cras viverra bibendum imperdiet. Fusce id odio est. Mauris at mi vitae tellus volutpat ullamcorper sit amet eu erat. Nullam eget arcu eget lorem accumsan venenatis eu nec leo. Mauris suscipit tellus vel cursus posuere. Morbi tristique semper ante, nec mollis neque auctor vitae. Mauris velit tortor, mollis vitae sapien et, cursus placerat dui. Nullam non mi luctus, blandit massa id, finibus dolor. Etiam quis risus a lectus vestibulum aliquet. Maecenas ac ligula id velit ornare pulvinar. Donec porttitor fringilla ipsum, ac lobortis turpis finibus at. Duis laoreet urna non nunc ullamcorper interdum. Quisque accumsan turpis mi, id iaculis ante volutpat quis.<br>
                        <br>
                        Suspendisse non viverra libero. Curabitur vitae accumsan ipsum. Etiam blandit ante eu ultricies dignissim. Nunc lobortis tortor ex, in maximus sapien malesuada non. Donec faucibus accumsan blandit. Praesent mattis tristique urna vitae mattis. Vivamus id imperdiet orci. Cras vehicula auctor tortor, id laoreet libero rhoncus sed. Mauris quis accumsan risus, ac commodo tortor. Etiam sed purus elit. Ut accumsan nulla odio, quis scelerisque ipsum elementum in. Donec id massa quis tellus ullamcorper varius ac at metus.<br>
                        <br>
                        Nam aliquam, justo id tincidunt pulvinar, enim sem rutrum tortor, eu rhoncus massa ligula non felis. Etiam enim nisl, maximus vitae ipsum eget, convallis placerat velit. Nulla faucibus porttitor sem in ultrices. Duis enim lacus, ultricies a dolor rutrum, sollicitudin sagittis purus. Sed in libero sit amet metus facilisis mollis et vel nunc. Nam nec nisi et eros rutrum feugiat at nec dui. Sed ac lacus pharetra, commodo odio tempus, condimentum mauris. Ut quis orci sed dolor dapibus cursus quis nec massa. Integer in vulputate est, at vehicula eros. Sed sit amet mi massa. In tincidunt ante velit, ac sodales lorem ornare tincidunt. Proin tincidunt hendrerit lectus vitae suscipit. Praesent quis pulvinar nibh, eu tincidunt tellus. Integer aliquet mollis odio, nec efficitur nisl feugiat eget. Nam pulvinar tincidunt eleifend. Nunc enim lacus, porttitor eget mauris ac, aliquet sollicitudin nisi.<br>
                        <br>
                        Mauris vitae eleifend lorem. Pellentesque ut aliquam quam. Duis non ipsum vel massa tempus pretium. Aliquam mattis orci ut neque elementum blandit. Nullam pharetra nunc eget orci egestas egestas. Donec commodo eget mi nec feugiat. Nullam vitae ornare ligula, non sodales est. Proin non purus mauris. Maecenas non sem nec felis mollis aliquet. Integer sagittis urna vel odio elementum, in mollis orci mattis. Praesent ornare diam ut risus ultrices, sed ultrices nunc venenatis. Curabitur varius viverra nisi, quis commodo metus interdum non. Suspendisse bibendum est ac nisi gravida, eget pretium nunc dapibus.
                    </p>
                </div>
                <div class="home-img-div">
                    <img class="img-h1" src="../public/img/art-music/the-persistence-of-memory.jpg" style="width: 400px;">
                    <img class="img-h1" src="../public/img/art-music/guernica3.jpg" style="width: 600px;">
                </div>
            </div>
        </div>
    </body>
    <script src="public/scripts/brightness.js"></script>
</html>
