<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../public/stylesheets/main.css">

    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="title vertical-center">
                    <h1>20th century Modernism etc PLACEHOLDER PLACEHOLDER PLACEHOLDER</h1>
                </div>
              </div>
              <div class="link-div">
                <a href="art-music.html" > Art and music</a>
                <a href="tech-sci.html" > Technology </a>
                <a href="economy.html" > Economy </a>
                <a href="women.html" > The Women</a>
                <a href="culture.html" > Culture</a>
                <a href="history.html" > History</a>

              </div>
            <div class="content">
              <div class="home-info">
                <p>
                  Ang termino nga mubo nga ika-20 nga siglo, orihinal nga gisugyot ni Iván Berend (Hungarian Academy of Sciences) apan gihubit ni Eric Hobsbawm, usa ka istoryador ug tigsulat sa Marxista sa Britanya, naghisgot sa panahon tali sa mga tuig 1914 ug 1991. Ang panahon nagsugod sa sinugdanan sa Unang Gubat sa Kalibutan ug natapos sa pagkahugno sa Unyon Sobyet.
                </p>
                <img src="../public/img/20th_century.jpg" alt="20th" class="home-img">
              </div>
            </div>
        </div>

    </body>
</html>
