<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../public/stylesheets/main.css">

    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="title vertical-center">
                    <h1>20th century Modernism etc PLACEHOLDER PLACEHOLDER PLACEHOLDER</h1>
                </div>
              </div>
              <div class="link-div">
                <a href="" class="link"> xxx </a>
                <a href="" class="link"> xxx </a>
                <a href="" class="link"> xxx </a>
                <a href="" class="link"> xxx </a>
                <a href="" class="link"> xxx </a>
                <a href="" class="link"> xxx </a>

              </div>
            <div class="content">
              <div class="home-info">
              </div>
            </div>
        </div>

    </body>
</html>
