<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tech-Sci</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/main.css" />
    </head>
    <body class="body-2">
        <div class="main">
            <div class="header">
                <div class="title vertical-center">
                    <h1>Technology & Science in the 20th century</h1>
                </div>
                <div class="article-content">
                    <h2 class="title-1">Technology & Science</h2>
                    <p>Under the 20th century Technology and Science had significant changes because of the two big events that occurred. It was under the “World War One” and “World War Two”.
                      <br>
                      <br>
                      Technology has much improvements under war periods and especially the World Wars.
                      Why that is the case is because it is then the governments are putting most of their state budget and resources on the military. Which include research on improving weapons, bombs, planes, etc. This can greatly accelerate technological development.
                      Example radio, microwave and vehicles technology (cars) are some of many inventions that were first meant for military.
                      <br>
                      <h2 class="title-1">
                        Atombomb / Nuclear power
                      </h2>
                        <br>
                        he atom-bomb has today become into super weapon that now everyone has a fear of being used. It has a power that is so great that it could even change the climate on the planet itself and make our earth into a hell. A world ending weapon. They are several times stronger today compared to when they were created but they were still extremely devastating back then.
                        <br>
                        <br>
                        The technology resembles atom reactor which were invented some years before the bomb.
                        That themself were also incredibly inventions which could use quantum physics to create high amount of energy.
                        The bomb was invented and used by the Americans against Japan at the end of the World War ll. The bomb first hit hiroshima and short after another bomb were dropped at Nagasaki
                        Which in total killed more than 150,000 people and gave many others severely radiation damage. It’s devastating power quickly was heard around the world and become popular as the super bomb.
                        <br>
                        <h2 class="title-1">
                          Albert Einstein
                        </h2>
                        <br>
                        Albert Einstein lived from 1879 to 1955 and is known as a one of the greatest scientist in the world. At the same time he is also seen as a big goofball with the crazy hair and with the tongue sticking out. He did some weird things like eating grasshoppers, used cigarettes from the ground. But in general he was not actually so crazy as some thinks he was.
                        <br>
                        <br>
                        Under the year 1905 is when Albert Einstein truly shines. Many know him for coming up with a incredible ekvation but he did actually come up with totally 4 incredible papers.
                        That changed the understanding of our universe. The fourth one was the ekvation that stated that mass and energy could be seen as the same thing.
                        E = mc² which means that Enegi = Mass*Speed of Light. This totally changed our understanding of the universe and thanks to that Albert Einstein is now know as one of the most brilliant scientist in history.
                        <br>
                        </p>
                </div>
                <img class="article-img-R" src="../public/img/radio.jpg" style="margin-top: 20vh!important;">
                <img class="article-img-P" src="../public/img/planes.jpg">
                <img class="article-img-S" src="../public/img/shroom.jpg">
                <img class="article-img-E" src="../public/img/einstein.jpg">
            </div>
        </div>
    </body>
</html>
