<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Art and music</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/main.css" />
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="title vertical-center">
                    <h1>Women's role during modernism</h1>
                </div>
                <div class="article-content">
                    <h1>Early 19th century</h1>
                    <p>The working-class women in the early 19th century didn't really have a choice but to work in order to support their families. The most common works they had was in factories, in domestic service for the richer households or in a family business.<br>
                      <br>
                      Besides this, they also did the normal household work like washing, cooking, cleaning, childcare and growing fruit and vegetables to even help more with making sure everyone gets fed. <br>
                      <br>
                      During this period women's wages were not so similar as the one men had. Every woman was paid less than their men colleagues, that created financial problems for the working women's.<br>
                      </p>
                      <br>
                      <h2> WW1 </h2>
                      <p> When the first world war occurred did it opened a lot of opportunities for the female workers. Because of the war, many jobs were vacated of all the men and that's where many women got their chance to get a work which was demand as a “man’s” work.
                      <br>
                      <br>
                      There were a lot of different jobs that were demanded by men that now women got an opportunity to do, the jobs were railway guards and ticket collectors, as bank ‘tellers’ and clerks, buses and tram conductors, postal workers, police, firefighters and as bank ‘tellers’ and clerks. there were also women who worked with heavy or precision machinery in engineering, led cart-horses on farms, and worked in the civil service and factories.
                      They however still had lower wages for doing the same jobs as the men.
                      <br>
                      <br>
                      After the war had ended many of the men that returned from the war reclaimed their old work, because of that many women workers in the industries and trade declined lowered tremendously. </p>
                      <br>
                      <br>
                      <h3> WW2 </h3>
                      <p> In a lot of different ways, the story of women's employment was done all over again as in WW1. Despite the women had great success during the WW1 doing the men’s work were there still stereotypes about their capacity and ability to manage the work. The discussion about this happened between the employers and the government, they were concerned that the woman wouldn’t do the same good job as the men did.
                      <br>
                      <br>
                      Women did participate in the war effort, due to the Trade unions expressed their concerns about men's pay being pushed down and desired assurances that women’s wartime work only would be temporary. By the needs of the economy during the war made it possible for the women to work with the military. In December 1941, the government approved single women aged between 20-30 as an apprentice to Civil Defense, Armed Forces, or war industries. Propaganda urged many women to help in their countries war effort.
                      <br>
                      <br>
                      There were also many studies that showed that the employment of women increased tremendously. it increased from 5.1 million in 1939 to over 7.25 million in 1943 and that was an increase of 10% of women employment.
                      </p>


                </div>
                <img class="Kevins-bild" src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Photograph_of_Three_Marine_Corps_Women_Reservists%2C_Camp_Lejeune%2C_North_Carolina%2C_10-16-1943_-_NARA_-_535876.jpg" style="margin-top: 15vh!important;">
                <p style="margin-left 1vw!important;"> (United States Marine Corps Women's Reserve) </p>

                <img class="Kevins-bild2" src="https://via.placeholder.com/500x500?text=PLACEHOLDER+IMAGE">
            </div>
        </div>
    </body>
</html>
