<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Art and music</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/main.css" />
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="title vertical-center">
                    <h1>TOPIC TOPIC TOPIC TOPIC TOPIC TOPIC TOPIC TOPIC</h1>
                </div>
                <div class="article-content">
                    <h1>Test!</h1>
                    <p>The working-class women in the early 19th century didn't really have a choice but to work in order to support their families. The most common works they had was in factories, in domestic service for the richer households or in a family business.<br>
                        <br>
                        Besides this, they also did the normal household work like washing, cooking, cleaning, childcare and growing fruit and vegetables to even help more with making sure everyone gets fed. <br>
                        <br>
                        During this period women's wages were not so similar as the one men had. Every woman was paid less than their men colleagues, that created financial problems for the working women's..<br>
                      </p>
                </div>
                <img class="article-img" src="https://via.placeholder.com/300x300?text=PLACEHOLDER+IMAGE" style="margin-top: 15vh!important;">
                <img class="article-img" src="https://via.placeholder.com/500x500?text=PLACEHOLDER+IMAGE">
            </div>
        </div>
    </body>
</html>
