<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Art and music</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/main.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
        $.get('../public/articles/article_women.html', function(Data) {
            document.getElementById('article').innerHTML = Data;
        })
        </script>
    </head>
    <body class="body-1">
        <div class="main">
            <div class="header">
              <a class="back" href="../index.html"><button class="backbutton">Back</button></a>
                <div class="title vertical-center">
                    <h1>Women's role during modernism</h1>
                </div>
                <div class="article-content">
                    <p class="article"></p>
                </div>
                <img class="Kevins-bild" src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Photograph_of_Three_Marine_Corps_Women_Reservists%2C_Camp_Lejeune%2C_North_Carolina%2C_10-16-1943_-_NARA_-_535876.jpg" style="margin-top: 15vh!important;">
                <p> (United States Marine Corps Women's Reserve) </p>

                <img class="Kevins-bild2" src="https://via.placeholder.com/500x500?text=PLACEHOLDER+IMAGE">
            </div>
        </div>
    </body>
</html>
