* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: IBM Plex Sans Regular;
}
.body-1{
    background-image: url(../img/souls_of_acheron.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.body-2{
  background-image: url(../img/chemistry.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@font-face {
    font-family: IBM Plex Sans Regular;
    src: url("../fonts/IBMPlexSans-Regular.ttf");
    font-weight: initial;
}
@font-face {
    font-family: IBM Plex Sans Bold;
    src: url("../fonts/IBMPlexSans-Bold.ttf");
    font-weight: initial;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main {
    width: 100%;
    height: 100vh;

}

.header {
    width: 100%;
    height: 10vh;
    background-image: radial-gradient(#5e5e5e, #454545);
    position: relative;
    border: solid 3px;
}

.backbutton {
    width: 50px;
    height: 25px;
    background-color: #4ef442;
    color: black;
    margin: 10px 0 0 10px;
}
.back {
    position: absolute;
    left: 0;
}

.title {
    margin-left: 100px;
}
.link-div {
  width: 100%;
  height: 10vh;
  margin-top: 80vh;
  border: solid 3px;
  border-bottom: none;
  opacity: 0.9;
  background-image: radial-gradient(#5e5e5e, #454545);
}
.link-div a{
  margin-left:10px;
  margin-right:10px;
  color: #cec2b1;
  display: block;
  height: 100%;
  float: left;
  font-size: 34px;
  font-family: IBM Plex Sans Bold;
}
.link-div a:hover{
  background-color: #272727;
  color: #e7dac7;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: #6b6b6b;
  box-sizing: border-box;
}


.content {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 50px;
    background-image: linear-gradient(#bbc2c3,#d3dbdc);
    border: solid 3px;
}

.home-info{
  width: 90%;
  height: 90vh;
  border: solid 3px;
  margin: auto;
  text-align: center;
}
.home-info p{
  width: 85%;
  margin: auto;
  margin-top: 2%;
}

.home-img{
  width: 68%;
  height: 375px;
  border: solid 2px;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.content, .header, .link-div {
    box-sizing:border-box;
}

.article-content {
    width: 45%;
    background-image: radial-gradient(#d3dbdc,#5e5e5e);
    position: relative;
    border: solid 3px;
    float: left;
    margin-left: 5vh;
    margin-top: 5vh;
    padding: 2vh 2vw 2vh 2vw;
}
.article-img {
    margin-left: 10vh;
    margin-top: 5vh;
}
.Kevins-bild {
    margin-left: 10vh;
    margin-top: 5vh;
    width: 30vw;
    height: 60vh;
    border: solid 2px;
}
.Kevins-bild2 {
    margin-left: 10vh;
    margin-top: 5vh;
    width: 30vw;
    height: 60vh;
    border: solid 2px;
}
.article-img-S {
    width: 320px;
    height: 294px;
    margin-left: 10vh;
    margin-top: 10vh;
    border: solid 5px;
}
.article-img-E {
  width: 320px;
  height: 280px;
  margin-left: 10vh;
  margin-top: 12vh;
  border: solid 5px;
}
.article-img-R {
  width: 140px;
  height: 115px;
  margin-left: 8vh;
  margin-right: 30vh;
  border: solid 3px;
}
.article-img-P {
  width: 210px;
  height: 155px;
  margin-left: 8vh;
  margin-top: 1vh;
  border: solid 5px;
}
.title-1{
  margin-top: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: solid 2px;
  text-align: center;
}
