* {
    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    font-family: IBM Plex Sans Regular;
    src: url("../fonts/IBMPlexSans-Regular.ttf");
    font-weight: initial;
}
@font-face {
    font-family: IBM Plex Sans Bold;
    src: url("../fonts/IBMPlexSans-Bold.ttf");
    font-weight: initial;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main {
    width: 100%;
    height: 100vh;

}

.header {
    width: 100%;
    height: 10vh;
    background-color: red;
    position: relative;
}

.title {
    font-family: IBM Plex Sans Regular;
    margin-left: 5vw;
}

.content {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient( #94570a,#5e390a);
    position: relative;
    margin-top: 30%;
    padding-top: 20px;
    padding-left: 20px;
}
.link-div {
  width: 100%;
  height: 10vh;
  background-color: grey;
}
.link {
  padding: 10px;
  margin: 15px;
  border: solid 2px;
  color: black;
}
