* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-image: url(../img/souls_of_acheron.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: IBM Plex Sans Regular;
    src: url("../fonts/IBMPlexSans-Regular.ttf");
    font-weight: initial;
}
@font-face {
    font-family: IBM Plex Sans Bold;
    src: url("../fonts/IBMPlexSans-Bold.ttf");
    font-weight: initial;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main {
    width: 100%;
    height: 100vh;

}

.header {
    width: 100%;
    height: 10vh;
    background-image: radial-gradient(#5e5e5e, #454545);
    position: relative;
    border: solid 3px;
}

.title {
    font-family: IBM Plex Sans Regular;
    margin-left: 5vw;
}

.link-div {
  width: 100%;
  height: 10vh;
  margin-top: 40%;
  border: solid 3px;
  background-color: grey;
  border-bottom: none;
  opacity: 0.9;
  background-image: radial-gradient(#5e5e5e, #454545);
}
.link {
  margin: 15px;
  border: solid 2px;
  border-color: #a74800;
  color: #cec2b1;
}

.content {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 20px;
    background-image: linear-gradient(#bbc2c3,#d3dbdc);
    border: solid 3px;
}

.home-info{
  width: 90%;
  height: 90vh;
  border: solid 3px;
  margin: auto;
}

.content, .header, .link-div {
    box-sizing:border-box;
}