*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: IBM Plex Sans Regular;
}
.body-1{
    background-image: url("../img/adolf-hiremy-hirschl-ahasuerus-at-the-end-of-the-world-1888-trivium-art-history.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.body-2{
  background-image: url("../img/chemistry.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-3{
    background-image: url("../img/the_starry_night-wallpaper-1920x1080.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.body-4{
  background-image: url("../img/city.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-5{
  background-image: url("../img/ww1_artwork1.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@font-face {
    font-family: Teacher;
    src: url("../fonts/TeachersStudent.ttf");
    font-weight: initial;
}
@font-face {
    font-family: Campus;
    src: url("../fonts/CAMPUS.ttf");
    font-weight: initial;
}
@font-face {
    font-family: Greekhouse;
    src: url("../fonts/Greekhouse.ttf");
    font-weight: initial;
}
@font-face {
    font-family: IBM Plex Sans Regular;
    src: url("../fonts/IBMPlexSans-Regular.ttf");
    font-weight: initial;
}
@font-face {
    font-family: IBM Plex Sans Bold;
    src: url("../fonts/IBMPlexSans-Bold.ttf");
    font-weight: initial;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main {
    width: 100%;
    height: 100vh;

}

.header {
    width: 100%;
    height: 10vh;
    background-image: radial-gradient(#efefef, #8c8c8c);
    position: relative;
    border: solid 3px;
}

.backbutton {
    width: 80px;
    height: 45px;
    background-image: radial-gradient(#cec2b1,#a39076);
    border: solid 2px;
    color: black;
    margin: 20px 0 0 10px;
    opacity: 0.9;
    font-family: Greekhouse;
    font-size: 25px;
}
.back {
    position: absolute;
    left: 0;
}
.backbutton:hover {
  opacity: 1;
  background-image: radial-gradient(#dbcab3,#bd9e74);
}

.title {
    margin-left: 100px;
}
.title h1 {
    font-size: 50px;
}

.link-div {
  width: 100%;
  height: 10vh;
  margin-top: 80vh;
  padding-top: 10px;
  border: solid 3px;
  opacity: 0.9;
  background-image: radial-gradient(#efefef, #8c8c8c);
}
.link-div a{
  width: 10%;
  margin: 20px;
  color: black;
  height: 100%;
  font-size: 34px;
  font-family: Campus;
}
.link-div a:hover{
  background-color: #272727;
  color: #e7dac7;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: #6b6b6b;
  box-sizing: border-box;
}

.content {
    margin-top: 10px;
    width: 50%;
    height: 380vh;
    position: relative;
    padding-top: 50px;
    background-image: linear-gradient(#bbc2c3,#d3dbdc);
    border: solid 3px;
}
.home-info{
  width: 90%;
  height: 90%;
}

.home-info p{
  width: 85%;
  margin: auto;
  margin-top: 2%;
}

.home-img-div{
  float: right;
  margin-right: 5px;
  margin-top: 10vh;
  width: 48%;
  height: 500vh;

}

.img-h1{
  float: right;
  margin-left: 10px;
  margin-right: 10vw;
  margin-top: 4vh;
  margin-bottom: 5px;
  border: solid 3px;
}

.content, .header, .link-div {
    box-sizing:border-box;
}

.article-content {
    width: 45%;
    background-image: radial-gradient(#ffffff,#a7a7a7);
    position: relative;
    border: solid 3px;
    float: left;
    margin-left: 5vh;
    margin-top: 5vh;
    padding: 2vh 2vw 2vh 2vw;
}
.article-content-kevin {
    width: 55%!important;
}
.article-img {
    margin-left: 5vh;
    margin-top: 5vh;
}
.Kevins-bild {
    margin-left: 12.5vh;
    margin-top: 5vh;
    width: 25vw;
    height: 40vh;
    border: solid 2px;
}
.Kevins-bild2 {
    margin-left: 12.5vh;
    margin-top: 1vh;
    width: 25vw;
    height: 40vh;
    border: solid 2px;
}

.article-img-S {
    width: 360px;
    height: 330px;
    margin-left: 10vh;
    margin-top: 4vh;
    border: solid 5px;
}
.article-img-E {
  width: 380px;
  height: 320px;
  margin-left: 10vh;
  margin-top: 2vh;
  border: solid 5px;
}
.article-img-R {
  width: 190px;
  height: 175px;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 1vh;
  border: solid 3px;
}
.article-img-P {
  width: 310px;
  height: 230px;
  margin-left: 8vh;
  border: solid 5px;
}
#article {
  font-size: 18px;
}
.title-1{
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: solid 2px;
  text-align: center;
}
