*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: IBM Plex Sans Regular;
}
.body-1{
    background-image: url("../img/adolf-hiremy-hirschl-ahasuerus-at-the-end-of-the-world-1888-trivium-art-history.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.body-2{
  background-image: url("../img/chemistry.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-3{
    background-image: url("../img/the_starry_night-wallpaper-1920x1080.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.body-4{
  background-image: url("../img/city.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-5{
  background-image: url("../img/ww1_artwork1.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-6{
  background-image: url("../img/ww1_painting.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-7{
  background-image: url("../img/lunch.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@font-face {
    font-family: Teacher;
    src: url("../fonts/TeachersStudent.ttf");
    font-weight: initial;
}
@font-face {
    font-family: Campus;
    src: url("../fonts/CAMPUS.ttf");
    font-weight: initial;
}
@font-face {
    font-family: Greekhouse;
    src: url("../fonts/Greekhouse.ttf");
    font-weight: initial;
}
@font-face {
    font-family: IBM Plex Sans Regular;
    src: url("../fonts/IBMPlexSans-Regular.ttf");
    font-weight: initial;
}
@font-face {
    font-family: IBM Plex Sans Bold;
    src: url("../fonts/IBMPlexSans-Bold.ttf");
    font-weight: initial;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main {
    width: 100%;
    height: 310vh;
}

.header {
    width: 100%;
    height: 7.5vh;
    background-image: radial-gradient(#efefef, #8c8c8c);
    border: solid 3px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.backbutton {
    width: 80px;
    height: 45px;
    background-image: radial-gradient(#cec2b1,#a39076);
    border: solid 2px;
    color: black;
    margin: 20px 0 0 10px;
    opacity: 0.9;
    font-family: Greekhouse;
    font-size: 25px;
}
.back {
    position: absolute;
    left: 0;
}
.backbutton:hover {
  opacity: 1;
  background-image: radial-gradient(#dbcab3,#bd9e74);
}

.title {
    margin-left: 100px;
}
.title h1 {
    font-size: 40px;
}

.link-div {
  width: 15%;
  height: 92.5vh;
  padding-top: 10px;
  padding-left: 10px;
  border: solid 3px;
  border-top: none;
  opacity: 0.9;
  background-image: radial-gradient(#efefef, #8c8c8c);
  float: left;
  position: fixed;
  left: 0;
}

.link-div a{
  width: 100%;
  display: block;
  color: black;
  height: 6%;
  font-size: 35px;
  font-family: Campus;
  border-right: none;
}
/*
.link-div a:hover{
  background-color: #272727;
  color: #e7dac7;
  border: solid 3px;
}
*/
.overlay {
    width: 100%;
    height: 6%;
    margin-left: -10px;
    position: absolute;
    background-color: #000;
    opacity: 0;
    z-index: -1;
}

.link-div a:hover > .overlay {
    opacity: 0.5;
    transition: 0.25s;
}

.super-content {
    width: 85%;
    height: 310vh;
    float: right;

}

.content {
    margin-top: 10px;
    margin-left: 16%;
    width: 45%;
    height: auto;
    position: relative;
    padding: 25px;
    background-image: linear-gradient(#bbc2c3,#d3dbdc);
    border: solid 6px;
    border-color: #282749;
}
.home-info{
    width: 90%;
    height: auto;
}

.home-info p{
    width: 85%;
}

.home-img-div{
    float: left;
    width: 35%;
    height: 295vh;
    background-image: linear-gradient(#3e3e3e,#000000);
    border: solid 6px;
    border-color: #282749;
    margin-left: 20px;
    margin-top: 20px;
    padding: 4vh 0 4vh 4vh;
}

.img-h1{
    float: left;
    border: solid 4px;
    border-color: #bbc2c3;
    margin-bottom: 3vh;
}

.content, .header, .link-div {
    box-sizing:border-box;
}

.article-content {
    width: 45%;
    background-image: radial-gradient(#ffffff,#a7a7a7);
    position: relative;
    border: solid 3px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    padding: 1.5vw;
}
.article-content-2 {
    margin-left: 5vh;
    width: 90%;
    height: auto;
    margin-top: 15vh;
    background-image: linear-gradient(#a7a7a7,#ffffff);
    border: solid 3px;
}

.article-content-kevin {
    width: 55%!important;
}
.article-img {
    margin-left: 5vh;
    margin-top: 5vh;
}
.Kevins-bild {
    margin-left: 12.5vh;
    margin-top: 5vh;
    width: 25vw;
    height: 40vh;
    border: solid 2px;
}
.Kevins-bild2 {
    margin-left: 12.5vh;
    margin-top: 1vh;
    width: 25vw;
    height: 40vh;
    border: solid 2px;
}
.article-img-S {
    width: 360px;
    height: 330px;
    margin-left: 10vh;
    margin-top: 6vh;
    border: solid 5px;
}
.article-img-E {
  width: 380px;
  height: 320px;
  margin-left: 30vh;
  margin-top: 5vh;
  border: solid 5px;
}
.article-img-E-1{
  margin-left: 10vw;
  border: solid 5px;
}
.article-img-R {
  width: 190px;
  height: 175px;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 1vh;
  border: solid 3px;
}
.article-img-P {
  width: 310px;
  height: 230px;
  margin-left: 8vh;
  border: solid 5px;
}
#article {
  font-size: 18px;
}
#article-2{
  margin-left: 3vw;
  margin-right: 3vw;
}
.title-1{
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: solid 2px;
  text-align: center;
}
