*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: IBM Plex Sans Regular;
}
.body-1{
    background-image: url("../img/adolf-hiremy-hirschl-ahasuerus-at-the-end-of-the-world-1888-trivium-art-history.jpg");
}
.body-2{
    background-image: url("../img/chemistry.jpg");
}
.body-3{
    background-image: url("../img/the_starry_night-wallpaper-1920x1080.jpg");
}
.body-4{
    background-image: url("../img/city.jpg");
}
.body-5{
    background-image: url("../img/ww1_artwork1.jpg");
}
.body-6{
    background-image: url("../img/ww1_painting.jpg");
}
.body-7{
    background-image: url("../img/lunch.jpg");
}
.body-1, .body-2, .body-3, .body-4, .body-5, .body-6, .body-7 {
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@font-face {
    font-family: IBM Plex Sans Regular;
    src: url("../fonts/IBMPlexSans-Regular.ttf");
    font-weight: initial;
}
@font-face {
    font-family: IBM Plex Sans Bold;
    src: url("../fonts/IBMPlexSans-Bold.ttf");
    font-weight: initial;
}
@font-face {
    font-family: Campus;
    src: url("../fonts/CAMPUS.ttf");
    font-weight: initial;
}

.main {
    width: 100%;
    height: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header {
    width: 100%;
    height: 7.5vh;
    background-image: white;
    border: solid 4px black;
    position: fixed;
    top: 0;
    z-index: 2;
}

.title {
    margin-left: 75px;
    font-size: 40px;
}

.link-div {
    width: 15%;
    height: 92.5vh;
    padding-top: 10px;
    padding-left: 10px;
    border: solid 3px;
    border-top: none;
    opacity: 0.9;
    background-image: white;
    float: left;
    position: fixed;
    left: 0;
    text-align: center;
  }

.link-div a {
    margin-left: -10px;
    width: 100%;
    display: block;
    color: black;
    height: 10%;
    font-size: 36px;
    font: 10;
    border-right: none;
}

.overlay {
    width: 105%;
    height: 10%;
    margin-left: -10px;
    margin-top: 5px;
    position: absolute;
    background-color: #000;
    opacity: 0;
    z-index: -1;
}

.link-div a:hover > .overlay {
    opacity: 0.5;
    transition: 0.25s;
}

.super-content {
    width: 85%;
    height: auto;
    float: right;
}

.link-div, .super-content {
    margin-top: 7.5vh;
}

.article-content {
    width: 45%;
    background-image: white;
    position: relative;
    border: solid 5px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1.5vw;
}

.article-content-art {
    width: 45%;
    background-image: white;
    position: relative;
    border: solid 5px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1.5vw;
}
.tech{  background-image: radial-gradient(#B1BDA3,#285421)!important;}
.women{ background-image: radial-gradient(#FFC7A2,#FF584F)!important;}
.hist{ background-image: radial-gradient(#B27E79,#8C413F)!important;}
.eco{ background-image: radial-gradient(#A49BAB,#706585)!important;}
.cul{ background-image: radial-gradient(#85dcba,#41b4a4)!important;}

#article {
    font-size: 18px;
}

.img-div {
    float: left;
    width: auto;
    height: auto;
    background-image: white;
    border: solid 4px;
    /*border-color: #282749;*/
    border-color: black;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 4vh;
}
.art{
  background-image: radial-gradient(#E5CDDD,#BA84C4)!important
}

.img-h1{
    float: left;
    border: solid 4px;
    border-color: #bbc2c3;
    margin-bottom: 3vh;
}

.article-content, .header, .link-div {
    box-sizing:border-box;
}

.title-1{
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: solid 2px;
    text-align: center;
}
